<template name="myorders">





  <div style="height:300px;width:442px;border:solid 1px #EFF1F3;float:left;border-radius:3px;background:white;margin-left:10px">
<div style="float:left;font-size:22px;font-family:HelveticaNeue;width:100%;border-radius:3px;margin-top:20px;margin-left:20px">
  MY ORDERS
</div>

<div style="display:block;margin-top:20px;float:right;width:420px;height:200px;overflow:scroll">
  {{> orders orders=(findOffers 'mine') priceLabel='Price' showCancel=true}}
</div>
</div>
<div style="height:300px;width:442px;border:solid 1px #EFF1F3;float:left;background:white;margin-left:40px">
  <div style="float:left;font-size:22px;font-family:HelveticaNeue;width:100%;margin-top:20px;margin-left:20px">
    LAST TRADES
  </div>
  <div style="display:block;margin-top:20px;float:right;width:420px;height:200px;overflow:scroll">
  {{> orders orders=lastTrades priceLabel='Price'}}
  </div>
</div>

</template>
