<template name="neworder">
  <form id="neworder">
  
  <div style="height:400px;width:442px;border:solid;float:left">
  <div style="height:320px;width:400px;border:solid;float:left;margin-left:20px">
  <div style="width:400px;border:solid;height:70px">
  
  
  
    <div style="width:200px;border:solid;float:left">
    
      New order
      
    
    </div>
    <div style="border:solid;float:right;width:150px;height:70px">
        
            <div class="radio">
              <label><input type="radio" value="buy" {{b "group: type"}}> Buy {{baseCurrency}}</label>
              <label><input type="radio" value="sell" {{b "group: type"}}> Sell {{baseCurrency}}</label>
            </div>
         
        </div>
        </div>
      <div style="width:390px;border:solid">
      
       <div style="width:390px;height:70px;border:solid">
       
       {{#unless hasBalance sellCurrency}}
          
            <li>
              <span class="help-block">You don't have enough {{#if equals sellCurrency 'ETH'}}<a href="#ethtokens">{{sellCurrency}}</a>{{else}}{{sellCurrency}}{{/if}} tokens.</span>
            </li>
          
        {{else}}
          {{#unless hasAllowance sellCurrency}}
           <li>
                <span class="help-block">You don't have enough {{sellCurrency}} <a href="#allowance">allowance</a>.</span>
              </li>
          {{/unless}}
        {{/unless}}
        {{#let offer=betterOffer}}
          {{#if offer}}
            <li>
                <span class="help-block">There is a better <a href="#offerModal" data-toggle="modal" data-target="#offerModal" {{b "click: openOfferModal"}}>offer</a>.</span>
              </li>
          {{/if}}
        {{/let}}
        {{#unless equals lastError ''}}
          <li>
              <span class="help-block">{{lastError}}</span>
           </li>
        {{/unless}}
       
       
  </div>
      
      <div style="height:70px">
        <div style="border-bottom:solid;">
         {{fancyType}} Price  
          <div style="float:right">{{quoteCurrency}}</div>
            <input type="number" class="input" step="any" min="0" style="height:30px;float:right" {{b "value: price, input: calcTotal"}}>
          
        </div>
        
        {{#unless priceDefined}}
          
            
              <div class="help-block"  >Enter a price to unlock amount and total.</div>
            
          
        {{/unless}}
        </div>
        <div style="border-bottom:solid;">
            Amount 
             <div style="float:right">{{baseCurrency}}</div>
          
          
            <input type="number" class="input" step="any" min="0" style="height:30px;float:right" {{b "value: amount, input: calcTotal, enable: priceDefined, attr: { max: maxAmount }"}}>
          </div>
        
       
      
      
      <tfoot>
        <tr>
          <th>
          </th>
          <td>
            <button class="btn btn-default" data-toggle="modal"  data-target="#newOrderModal" {{b "enable: canSubmit, click: preventDefault"}}>Submit order</button>
          </td>
        </tr>
        
      </tfoot>
    
    </div>
    </div>
   </div>
   
   <div style="height:400px;width:40px;float:left">
   
   <img alt="My Image" style="width:100%;margin-top:150px" src="http://i63.tinypic.com/2lc8e3a.png" />
    </div>
   <div style="height:400px;width:442px;border:solid;float:left">
   
   <div style="height:300px;width:340px;float:left;margin-left:50px">
   <div style="height:273px;width:340px;float:left">
   <h2>TOTAL </h2> 
   </div>
   <div style="height:27px;width:340px;border-bottom:solid;float:left;text-align:right">
   {{total}} {{quoteCurrency}}
   </div>
  </div>
    </div>
  </form>
  
  

  
  
  <div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <table>
            <tbody>
              <tr>
                <th>Type</th>
                <th>{{type}}</th>
              </tr>
              <tr>
                <th>Price</th>
                <td>{{formatBalance (toWei price)}} {{quoteCurrency}}</td>
              </tr>
              <tr>
                <th>Volume</th>
                <td>{{formatBalance (toWei amount)}} {{baseCurrency}}</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>{{formatBalance (toWei total)}} {{quoteCurrency}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <span class="text-danger">
            <b>Warning!</b>
            {{#if equals type 'buy'}}
              This action will <b>remove {{formatBalance (toWei total)}} {{quoteCurrency}}</b> {{formatPrice (toWei total) quoteCurrency}} from your token balance and allowance.
            {{else}}
              This action will <b>remove {{formatBalance (toWei amount)}} {{baseCurrency}}</b> {{formatPrice (toWei amount) baseCurrency}} from your token balance and allowance.
            {{/if}}
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "enable: canSubmit, click: submit"}}>Place order</button>
        </div>
      </div>
    </div>
  </div>
</template>
