<template name="neworder">
  <form id="neworder" style="font-family:Montserrat-Regular">


  <div style="height:300px;width:442px;border:solid 1px grey;float:left;background:white">

  <div style="height:290px;width:400px;float:left;margin-left:20px">
  <div style="width:400px;height:60px">



    <div style="width:200px;float:left;font-size:22px;font-family:HelveticaNeue;margin-top:20px">

      NEW ORDER


    </div>
    <div style="float:right;width:85px;height:60px">

            <div class="radio">
              <label><input type="radio" value="buy" {{b "group: type"}}> Buy {{baseCurrency}}</label>
              <label><input type="radio" value="sell" {{b "group: type"}}> Sell {{baseCurrency}}</label>
            </div>

        </div>
        </div>
      <div style="width:390px">

       <div style="width:390px;height:80px;border-top:solid white;">

       {{#unless hasBalance sellCurrency}}


              <span class="help-block">You don't have enough {{#if equals sellCurrency 'ETH'}}<a href="#ethtokens">{{sellCurrency}}</a>{{else}}{{sellCurrency}}{{/if}} tokens.</span>


        {{else}}
          {{#unless hasAllowance sellCurrency}}

                <span class="help-block">You don't have enough {{sellCurrency}} <a href="#allowance">allowance</a>.</span>

          {{/unless}}
        {{/unless}}
        {{#let offer=betterOffer}}
          {{#if offer}}

                <span class="help-block">There is a better <a href="#offerModal" data-toggle="modal" data-target="#offerModal" {{b "click: openOfferModal"}}>offer</a>.</span>

          {{/if}}
        {{/let}}
        {{#unless equals lastError ''}}

              <span class="help-block">{{lastError}}</span>

        {{/unless}}


  </div>

      <div style="height:70px">
        <div style="border-bottom:solid 1px grey;">
         <span style="color:gray; text-transform:uppercase;font-size:10px">{{fancyType}} Price</span>
          <div style="float:right;color:darkred;font-size:12px;width:57px">{{quoteCurrency}}/{{baseCurrency}}</div>
            <input type="number" class="input" step="any" min="0" style="height:30px;float:right;font-family:helveticaNeue; padding-bottom:7px;font-size:20px" {{b "value: price, input: calcTotal"}}>

        </div>

        {{#unless priceDefined}}


              <div class="help-block" style="color:gray;font-size:10px" >Enter a price to unlock amount and total.</div>


        {{/unless}}
        </div>
        <div style="border-bottom:solid 1px grey;">
            <span style="color:gray; text-transform:uppercase;font-size:10px">Amount</span>
             <div style="float:right;color:darkred;font-size:12px;width:57px">{{baseCurrency}}</div>


            <input type="number" class="input" step="any" min="0" style="height:30px;float:right; font-family:helveticaNeue; padding-bottom:7px;font-size:20px" {{b "value: amount, input: calcTotal, enable: priceDefined, attr: { max: maxAmount }"}}>
          </div>




      <tfoot>
        <tr>
          <th>
          </th>
          <td>
            <button class="btn btn-default" data-toggle="modal"  data-target="#newOrderModal" {{b "enable: canSubmit, click: preventDefault"}}>Submit order</button>
          </td>
        </tr>

      </tfoot>

    </div>
    </div>
   </div>

   <div style="height:300px;width:40px;float:left">

   <img alt="My Image" style="width:100%;margin-top:150px" src="http://i63.tinypic.com/2lc8e3a.png" />
    </div>
   <div style="height:300px;width:442px;border:solid 1px gray;float:left">

   <div style="height:250px;width:340px;float:left;margin-left:50px">
   <div style="height:180px;width:340px;float:left;margin-top:30px">
   <span style="font-size:40px;color:grey;font-family:HelveticaNeue-Light">TOTAL </span>
   </div>
   <div style="height:34px;width:340px;border-bottom:solid 1px grey;float:left;text-align:right">
   <span style="font-family:HelveticaNeue-light;color:#1ABC9C;font-size:40px;margin-right:10px">{{total}}</span> <span style="color:darkred;font-size:12px">{{quoteCurrency}}</span>
   </div>
  </div>
    </div>
  </form>





  <div class="modal fade" id="newOrderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirmation</h4>
        </div>
        <div class="modal-body">
          <table>
            <tbody>
              <tr>
                <th>Type</th>
                <th>{{type}}</th>
              </tr>
              <tr>
                <th>Price</th>
                <td>{{formatBalance (toWei price)}} {{quoteCurrency}}/{{baseCurrency}}</td>
              </tr>
              <tr>
                <th>Volume</th>
                <td>{{formatBalance (toWei amount)}} {{baseCurrency}}</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>{{formatBalance (toWei total)}} {{quoteCurrency}}</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <span class="text-danger">
            <b>Warning!</b>
            {{#if equals type 'buy'}}
              This action will <b>remove {{formatBalance (toWei total)}} {{quoteCurrency}}</b> {{formatPrice (toWei total) quoteCurrency}} from your token balance and allowance.
            {{else}}
              This action will <b>remove {{formatBalance (toWei amount)}} {{baseCurrency}}</b> {{formatPrice (toWei amount) baseCurrency}} from your token balance and allowance.
            {{/if}}
          </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" {{b "enable: canSubmit, click: submit"}}>Place order</button>
        </div>
      </div>
    </div>
  </div>
</template>
