* { font: inherit; margin: 0; padding: 0 }
* { outline: none }
* { box-sizing: border-box }

@font-face{
font-family:Montserrat-Regular;
src: url("Montserrat-Regular.otf") format("opentype");
}

/*
@import url(http://fonts.googleapis.com/css?family=Montserrat);
*/


body { font-family: 'Montserrat-Regular' }
body { font-size: 12px }
/*ADDED CSS*/
#av-bal{
font-size:11px;
text-align:center;

}

#network-top{
text-transform: uppercase;
color:gray;
}


#av-bal-l{
  font-family:'HelveticaNeue';
font-size:16px;
color:#1ABC9C;
position:relative;
bottom:6px
}

#av-bal-n{
font-family:'HelveticaNeue-light';
font-size:35px;
color:#1ABC9C;
margin-left:3px;
}

#bal-cur-av{
  text-align:center;

}

#balcurav{
  color:gray;
  font-size:10px;

}
 #bal-left{
   width:500px;
 }
#bal-right{
  width:500px;
}
#balsep{width:160px;
height:80px}

body {background-color: #F8F7F5}

#circle-connected{
width: 10px;
      height: 10px;
      margin-top:8px;
      margin-right:3px;
      border-radius: 25px;
      background: #1ABC9C;
    }

#circle-loading{
width: 10px;
      height: 10px;
      margin-top:8px;
      margin-right:3px;
      border-radius: 25px;
      background: #ff6600;
    }

#circle-notconnected{
width: 10px;
      height: 10px;
      margin-top:8px;
      margin-right:3px;
      border-radius: 25px;
      background: #cc0000;
    }


.logo-up{
position: relative;
top: 10%;
}

.connection-up{
position: relative;
top: 10%;
}


#contr {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
    margin-left:12px;
    padding-top:5px;
}

#contr-quest {
    width: 138px;
    height:36px;
    
    border: 1px solid #DDDEE2;
    border-radius:30px;
    font-size:13px;
}

hr{border-color: #DCDDE0}


.nav-wizard li +li{margin-left:0;
margin-top:3px;
}


.rounded{
width:138px;
	border: 1px solid #cfcfcf;
	height: auto;
	border-radius: 20px;
	padding:3px 4px 4px;
	position: relative;
	z-index: 0;
	overflow:hidden;
	height:36px;
	font-size:13px;
}

.rounded select {
    width:120px;
    margin-top:6px;
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
  background-color: transparent;
	outline: none;
	border:none;

}

.rounded:before {

    height:23px;
    width:26px;
    display:block;
    content:'...';
    position:absolute;
    top:6px;
    right:6px;
    background: url(http://i67.tinypic.com/16awax4.png) #F8F7F5 no-repeat right;
     pointer-events:none;

}


.nav-wizard li:first-child a {
font-size:0.4rem;
                    border-radius:20px 0 0 20px;
                  border: 1px solid #DCDDE0;
                  margin-left:0;
                  width:124px;
                  height:36px;
                  margin-top:3px;
                  padding-left:30px;
                }





.nav-wizard li:nth-child(2) a {
font-size:0.4rem;
                    border-radius:0 0 0 0;
                  border-top:1px solid #DCDDE0;
                  border-bottom:1px solid #DCDDE0;
                  margin-left:0;
                 height:36px;
                 width:196px;
                 padding-left:25px;
                }

 .nav-wizard li:last-child a {
font-size:0.4rem;
                    border-radius:0 20px 20px 0;
                  border:1px solid #DCDDE0;
                  margin-left:0;
                  height:36px;
                  width:124px;
                  padding-left:20px;
                }


.nav-wizard >li a{
background-color:transparant;
color:#DCDDE0;
padding-top:2px;

}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #eee;

}



.quo-cur{
width:89px;
	border: 1px solid #cfcfcf;
	height: auto;
	border-radius: 20px 0 0 20px;
	padding:0px 4px 4px;
	position: relative;
	z-index: 0;
	overflow:hidden;
	height:36px;
	font-size:13px;
	float:left;
}

.quo-cur select {

    width:120px;
    height:35px;
    margin-top:0px;
    margin-left:0px;
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
  background-color: transparent;
	outline: none;
	border:none;


	text-indent:30px;
}

.quo-cur:before {

    height:23px;
    width:26px;
    display:block;
    content:'';
    position:absolute;
    top:6px;
    right:55px;
    background: url(http://i67.tinypic.com/16awax4.png) #F8F7F5 no-repeat left;
     pointer-events:none;

}

.base-cur{
float:left;
width:89px;
	border: 1px solid #cfcfcf;
	border-left:none;
	height: auto;
	border-radius: 0 20px 20px 0;
	padding:0px 3px 4px;
	position: relative;
	z-index: 0;
	overflow:hidden;
	height:36px;
	font-size:13px;
}

.base-cur select {
    width:120px;
    height:35px;
    margin-top:0px;
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
  background-color: transparent;
	outline: none;
	border:none;

}

.base-cur:before {

    height:23px;
    width:26px;
    display:block;
    content:'';
    position:absolute;
    top:6px;
    right:6px;
    background: url(http://i67.tinypic.com/16awax4.png) #F8F7F5 no-repeat right;
     pointer-events:none;

}

.shadow{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}



.shadow-grad{

  background: lightgray; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F8F7F5, #e6e6e6); /* Standard syntax */

box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
/*ADDED CSS END*/







body { line-height: 1rem }

body > div.container { padding: 1rem }
body > div.container { padding-bottom: 3rem }
body > div.container { max-width: 20rem }
body > div.container { margin: auto }

h1 { color: #546979 }
h1, h2 { line-height: 2rem }
h1, h2 { margin-top: 1rem }

h1 { text-align: center }
h1 { font-size: 1.5rem }
h1 img { width: 8rem }
h1 img { margin-left: 1rem }
h1 span { position: relative }
h1 span { top: 2.2rem }
h1 span { left: -1.25rem }


h2 { font-weight: normal }
h2 span { font-size: .6rem }
h2 span { font-weight: normal }
h2 span { margin-left: .5rem }
h2 span { color: gray }
h2 .nav-tabs a:focus { outline: none }



table { border-collapse: collapse }
table { width: 100% }
th { text-transform: uppercase }
th { font-size: .6rem }
td, th { padding-right: .0rem }

small { color: lightgray }





.o td{height:20px}
.o tr { text-align: right;font-size:13px;font-family:HelveticaNeue;padding-right:10px}
.o th { text-align: right;font-size:11px;font-family:HelveticaNeue;padding-right:2rem}
.o td { text-align: right }
.o th { color: gray }

.o tbody tr.confirmed td.buy { cursor: pointer }
.o tbody tr.confirmed td.cant-buy { cursor: not-allowed }
.o tbody tr:hover { background: #F8F7F5 }
.o tbody tr:hover+tr.helper-row { background: #F8F7F5}
.o tbody tr.cancelled { color: grey }
.o tbody tr.cancelled td { position: relative }
.o tbody tr.cancelled td:before { content: " " }
.o tbody tr.cancelled td:before { position: absolute }
.o tbody tr.cancelled td:before { bottom: 50% }
.o tbody tr.cancelled td:before { left: 0 }
.o tbody tr.cancelled td:before { border-bottom: 1px solid #333 }
.o tbody tr.cancelled td:before { width: 100% }
.o tbody tr.pending { color: grey }
.o tbody tr.bought { font-weight: 600 }
.o tbody tr.helper-row { color: grey }
.o tbody tr.helper-row { font-size: 10px }

.help-block{font-size:12px}
.help-block{height:10px}
.nostretch { width: 1% }
.nostretch { white-space: nowrap }

td.bid{ color: green }
td.ask { color: darkred }




form th { text-align: right }
form th { padding: .2rem 1rem }
form th { color: gray }
form th { width: 100% }
form tfoot td { text-align: right }
form tfoot td { padding-top: 0.5rem }

.radio label { width: 8rem }
.radio input[type=radio] { margin-top: 5px }
[type=number] { width: 8rem }


button { border: .075rem solid currentcolor }
button { padding: .1rem .8rem }
button { text-transform: uppercase }
button { font-size: .6rem }
button { border-radius: .2rem }
button { cursor: pointer }
button.btn-default:disabled { color: #eee }

.input { border: none }
.input { width:250px}
.input {text-align: right}
.input { background: none }
.input { padding: .1rem 0rem }
.input { text-transform: uppercase }
.input[disabled] { cursor: not-allowed }



thead tr {background:#F8F7F5}

.container {min-width:580px}
 :root { font-size: 20pt }

@media (min-width: 1020px) {
div.container{width:1080px}
body > div.container { max-width: 1020px }
h1 { text-align: left }
h1 img { margin-left: -1.2rem }
.o { overflow: hidden }
.row { overflow: hidden }
section { float: right; width: 48% }
section:first-of-type { float: left }

#bal-left{
  width:300px;
}
#bal-right{
  width:290px;
}
#balsep{width:83px}

}



#spnSwitchCurrencies {
    margin: 0px 10px;
    vertical-align: middle;
    cursor: pointer;
}
